name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Paso necesario para instalar Flutter en el servidor de Github
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # Descarga las dependencias para que Sonar pueda analizar el código
      - name: Install Dependencies
        run: mvn clean package

      # Opcional: Si quieres verificar errores de análisis de Dart antes de Sonar
      - name: Analyze
        run: flutter analyze

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
